{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "camelcase": [2],
    "comma-style": [2, "last"],
    "dot-notation": [0],
    "comma-dangle": [2, "never"],
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-multi-spaces": [0],
    "no-underscore-dangle": [0],
    "no-unused-vars": [0],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-var": [2],
    "quotes": [1, "single", "avoid-escape"],
    "semi": [2],
    "keyword-spacing": ["error", { "before": true }],
    "space-before-blocks": [2],
    "space-before-function-paren": [2, "never"],
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "strict": [2, "never"]
  }
}
