
.story-button {
  background-image: url(/images/about_us_2.jpg);
  background-size: cover;
  background-position: center;
  height: 1024px;
  padding-top: 180px;
}

.story-section .index {
  /*margin-top: 200px;*/
}

.story-section .wow-func {
  background-color: #298299;
  color: white;
}

.story-section .goal {
  padding: 50px 0px;
}

.wow-func .title {
  color: white !important;
}

.wow-func .content {
  font-size: 30px;
  margin: 10px 0;
}

.wow-func .information-before {
  float: left;
  margin-top: -33px;
  margin-left: 10px;
}

.wow-func .information-after {
  float: right;
  margin-top: -33px;
  margin-right: 10px;
}

.member {
  text-align: left;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 25px;
}

.partner-button {
  background-image: url(/images/about_us_3.jpg);
  background-size: cover;
  background-position:center;
  height: 1024px;
  padding-top: 630px;
  margin-bottom: 50px;
}

.video-container {
  margin: 0 auto;
  max-width: 900px;
}

.video {
  position: relative;
  height: 0;
  padding-top: 75%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .partner-button {
    height: 100%;
  }

  .story-button {
    height: 100%;
  }
}
