
.contact-us-box {
  background-color: #E8F5FF;
}

.contact-us-box-title {
  color: white;
  background-color: #BF3333;
  font-size: 30px;
  padding: 15px;
  text-align: right;
  font-size: 30px;
  margin-top: -20px;
  padding-right: 17%;
}

.contact-us-box-inner {
  margin-top: 20px;
  padding-left: 30%;
  width: 100%;
  min-height: 302px;
}

.contact-us-box-content {
  font-size: 20px;
  line-height: 1.5em;
  color: #606263;
  width: 360px;
  max-width: 100%;
}

#contactForm #submitBtn {
  width: 80px;
  color: white;
  background-color: #606263;
}

#contactForm #submitBtn:hover {
  background-color: #BF3333;
}
