@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
  font-family:'微軟正黑體';
  padding:0; margin:0; overflow-x:hidden;
  background-color: white;
  overflow-y: scroll;
}

.container-content {
  padding-top: 50px;
}

.fixed-top-menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

#footer-divider {
  height: 50px;
}

.ui.segment {
  padding-left: 0px;
  padding-right: 0px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  #footer-divider {
    height: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {}
/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
/* Large Monitor */
@media only screen and (min-width: 1200px) {}

/* Mobile and Tablet */
@media only screen and (max-width: 991px) {

  #category-menu {
    display: none;
  }

  .sidebar-trans {
    background: rgba(0, 0, 0, 0.6) !important;
  }
}
/* Small and Large Monitor */
@media only screen and (min-width: 992px) {

  #category-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #298399;
    letter-spacing: 10px;
    /*margin-bottom: 1rem;*/
  }

  #side-menu {
    display: none;
  }
}
