@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
  font-family:'微軟正黑體';
  padding:0; margin:0; overflow-x:hidden;
  background-color: #CEC5C5;
  overflow-y: scroll;
}

.container-header {
  width: 100%;
}

.container-menu {
  margin: 0px auto;
  padding-top: 20px;
}

.container-content {
  margin-top: 10px;
}

.container-map {
  width: 765px;
  margin: 0px auto;
}

.container-post figure {
  margin: 0px;
}

.post-image {
  width: 100%;
  height: 640px;
  background-size: cover;
  text-align: center;
  line-height: 640px;
}

.post-image .inner {
  font-size: 64px;
  color: #FFFFFF;
  background: rgba(89, 48, 48, 0.3);
}

.header-box {
  padding-top: 20%;
  text-align: center;
}

.header-title {
  /*background: rgba(200,200,200,.3);*/
}

.section-box {
  padding-top: 100px;
  padding-left: 100px;
  text-align: left;
  width: 100%;
}

.section-title {
  font-size: 36px;
  letter-spacing: 34px;
  font-weight: bolder;
  /*background: rgba(200,200,200,.3);*/
}

.land {
  fill: #593030;
  stroke: white;
  stroke-width: .7px;
  stroke-opacity: .7;
}

.ui.sticky.fixed.top {
  padding-top: 15px;
}

.ui.segment {
  padding-left: 0px;
  padding-right: 0px;
}

#fpnews {
  /*background: url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/10862536_779010172217259_1862445632878671777_o.jpg");*/
  background-color: white;
}
#fppeople {
  /*background: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xtp1/t31.0-8/11187320_788048337980109_6156798450160298561_o.jpg");*/
  background-color: white;
}
#fpnature {
  /*background: url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/10862536_779010172217259_1862445632878671777_o.jpg");*/
  background-color: white;
}
#fpindustry {
  /*background: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xtp1/t31.0-8/11187320_788048337980109_6156798450160298561_o.jpg");*/
  background-color: white;
}
#fpscience {
  /*background: url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/10862536_779010172217259_1862445632878671777_o.jpg");*/
  background-color: white;
}
#fphistory {
  /*background: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xtp1/t31.0-8/11187320_788048337980109_6156798450160298561_o.jpg");*/
  background-color: white;
}
#fpmedic {
  /*background: url("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/10862536_779010172217259_1862445632878671777_o.jpg");*/
  background-color: white;
}
#fptravel {
  /*background: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xtp1/t31.0-8/11187320_788048337980109_6156798450160298561_o.jpg");*/
  background-color: white;
}
