@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
  font-family:'微軟正黑體';
  padding:0; margin:0; overflow-x:hidden;
  background-color: white;
  overflow-y: scroll;
}

.index-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0 4% 0;
}

.container-header {
  width: 100%;
}

.container-menu {
  margin: 0px auto;
  padding-top: 20px;
}

.container-content {
  padding-top: 50px;
}

.fixed-top-menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

#footer-divider {
  height: 50px;
}

.letter-slider {
  width: 90%;
}

.ui.segment {
  padding-left: 0px;
  padding-right: 0px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .post-list-title {
    text-align: center;
  }

  #footer-divider {
    height: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post-list-title {
    margin-left: 9%;
  }
}
/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .post-list-title {
    margin-left: 2%;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) {
  .post-list-title {
    margin-left: 10%;
  }
}
/* Mobile and Tablet */
@media only screen and (max-width: 991px) {
  #index-menu {
    display: none;
  }
  #category-menu {
    display: none;
  }
  .sidebar-trans {
    background: rgba(0, 0, 0, 0.6) !important;
  }
}
/* Small and Large Monitor */
@media only screen and (min-width: 992px) {
  #index-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #59385E;
    letter-spacing: 15px;
  }
  #category-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #298399;
    letter-spacing: 10px;
    /*margin-bottom: 1rem;*/
  }
  #side-menu {
    display: none;
  }
}
