
.post-image {
  background-size: cover;
}

.post-image .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 640px;
  background-color: rgba(0, 0, 0, 0.3);
}

.post-image .inner-title {
  font-size: 42px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
}

.container-post figure {
  margin: 0px;
}

.container-post img {
  width: 100%;
}

.container-post iframe {
  width: 100%;
}

.container-post h2 {
  font-size: 36px;
}

.container-post p {
  font-size: 20px;
}

.container-post-author div {
  color: #e6f4ff;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
}

.section-post-author {
  margin-top: 1rem;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  /* for ViewPostPage */
  .anti-very-padded {
    padding: 1em !important;
  }

  .section-post-author {
    min-height: 400px;
    margin-top: 0px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-post-author {
    min-height: 350px;
    margin-top: 0px;
  }
}
